<appSettings>
  <!--arcgis server admin user-->
  <add key="adminUserName" value="" /> 
  <!--arcgis server admin user password-->
  <add key="adminPassword" value="" />
  <!--the generic password for proxy to authenticate 
  ith server to generate tokens for the app-->
  <add key="accountPassword" value =""/>
  <!--the admin secret token for creating a new application-->
  <add key="creationToken" value=""/>
  <!--the base url of your arcgis server-->
  <add key="host" value="localhost"/>
  <add key="instance" value="arcgis"/>
  <add key="port" value="6080"/>
  <add key="SSL" value="false"/>
</appSettings>